import /init.recovery.qcom_decrypt.rc

on init
    export LD_PRELOAD /sbin/liblog_htc_sbin.so
    export LD_CONFIG_FILE /sbin/ld.config.txt

on fs
    wait /dev/block/platform/soc.0/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc.0/${ro.boot.bootdevice} /dev/block/bootdevice

on offmode_charging
    start detect_key
    start offmode_charging

on boot
    start chargeled

service chargeled /sbin/chargeled
    disabled
    seclabel u:r:healthd:s0

service detect_key /sbin/detect_key
    disabled
    seclabel u:r:healthd:s0
    oneshot

service offmode_charging /sbin/offmode_charging
    disabled
    seclabel u:r:healthd:s0
