on init
    # exfat
    insmod /system/lib/modules/texfat.ko

on offmode_charging
    start detect_key
    start offmode_charging

on boot
    write /sys/devices/platform/android_usb/usb_function_switch 130
    start chargeled

on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/f_ffs/on 1
    write /sys/class/android_usb/android0/f_adb/on 1
    write /sys/devices/platform/android_usb/usb_function_switch 3
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    write /sys/devices/platform/android_usb/usb_function_switch 130
    setprop sys.usb.state ${sys.usb.config}

service chargeled /sbin/chargeled
    disabled
    seclabel u:r:healthd:s0

service detect_key /sbin/detect_key
    disabled
    oneshot
    seclabel u:r:healthd:s0

service offmode_charging /sbin/offmode_charging
    disabled
    seclabel u:r:healthd:s0
