on init
	start patchlevel

on fs
    # needed to make qseecomd work in recovery
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

on property:ro.crypto.state=encrypted
    start sbinqseecomd

on property:ro.crypto.fs_crypto_blkdev=*
    stop sbinqseecomd

service patchlevel /sbin/patchlevel.sh
	user root
	group root
    disabled
    oneshot
	seclabel u:r:recovery:s0

service sbinqseecomd /sbin/qseecomd
	user root
	group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/sbin
    disabled
    oneshot
	seclabel u:r:recovery:s0
