import /init.recovery.qcom_decrypt.rc

on init
    export LD_PRELOAD /sbin/liblog_htc_sbin.so
    export LD_CONFIG_FILE /sbin/ld.config.txt

on fs
    wait /dev/block/platform/soc.0/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc.0/${ro.boot.bootdevice} /dev/block/bootdevice
