on boot
    write /sys/class/android_usb/android0/f_ffs/on 1
    start adbd
    write /sys/class/android_usb/android0/f_adb/on 1
    setprop sys.usb.state ${sys.usb.config}

    start chargeled
    start fstab_swap

on property:sys.usb.config=mass_storage,adb
    write /sys/devices/platform/android_usb/usb_function_switch 3
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    write /sys/devices/platform/android_usb/usb_function_switch 130
    setprop sys.usb.state ${sys.usb.config}

service chargeled /sbin/chargeled
    disabled
    seclabel u:r:healthd:s0

service detect_key /sbin/detect_key
    disabled
    oneshot
    seclabel u:r:healthd:s0

service offmode_charging /sbin/offmode_charging
    disabled
    seclabel u:r:healthd:s0

service fstab_swap /sbin/fstab_swap.sh
    oneshot
    disabled
